/* ------------------------------------------------------GENERAL------------------------------------------------------ */
body {
  font-family: "Lato", sans-serif;
  background: linear-gradient(-0.25turn, #2c5364, #203a43, #0f2027, #090a0f);
}

html {
  scroll-behavior: smooth;
}

.grid-container {
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #fff;
}
h1,
h2 {
  font-family: "audiowide", sans-serif;
  text-shadow: -1px -1px 1px #283655;
}

p {
  color: #fff;
}

.reference {
  color: #fff;
  margin-left: 1em;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

/* ------------------------------------------------------(NAV)SIDEBAR------------------------------------------------------ */

.Navbar div {
  position: sticky;
  top: 20vh;
  overflow: hidden;
}

.Navbar {
  grid-area: Navbar;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.Navbar .icon {
  display: none;
}
nav ul {
  display: flex;
  flex-direction: column;
}

nav ul li {
  margin-top: 2rem;
}

nav ul li a {
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  display: flex;
  padding: 0.2rem 0.7rem;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

nav ul li a:hover {
  background: white;
  color: #392d3b;
  text-decoration: none;
}

.active {
  background: white;
  color: #392d3b;
  text-decoration: none;
}

/* For presentation only, no need to copy the code below */
/* .grid-container * {
  border: 1px solid red;
  position: relative;
}

.grid-container *:after {
  content: attr(class);
  position: absolute;
  top: 0;
  left: 0;
} */
/* ------------------------------------------------------BUTTONS------------------------------------------------------ */
.button_about {
  grid-area: button_about;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.button1 {
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  border: 1px solid white;
  margin-top: 1rem;
  padding: 1rem 1rem;
  border-radius: 3px;
  transition: all 0.3s ease-in 0s;
}
.button1:hover {
  background: white;
  color: #392d3b;
  text-decoration: none;
}

/* ------------------------------------------------------BOUTON TO TOP------------------------------------------------------ */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: tomato;
  color: white;
  cursor: pointer;
  padding: 15px;
  font-size: 18px;
  clip-path: polygon(
    50% 0,
    0 40%,
    30% 40%,
    30% 100%,
    70% 100%,
    70% 40%,
    100% 40%
  );
  box-shadow: 0px 0px 0px 5px #a0a0a0, inset 0px 10px 27px -8px #ff8000,
    inset 0px -10px 27px -8px #a31925, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

#myBtn:hover {
  background-color: #555;
  transition-duration: 1s;
}

/* ------------------------------------------------------SPANS------------------------------------------------------ */
.green {
  color: greenyellow;
  font-weight: bold;
}

.green:hover {
  color: coral;
  transition: all 0.3s ease-in 0s;
  letter-spacing: 0.1em;
}

.red {
  color: coral;
  font-weight: bold;
}

.red:hover {
  color: greenyellow;
  transition: all 0.3s ease-in 0s;
  letter-spacing: 0.1em;
}
/* ------------------------------------------------------SHINE EFFECT SPAN------------------------------------------------------ */
.effect-shine:hover {
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}

@media (max-width: 425px) {
  .button1 {
    font-size: small;
  }
}
