/* ------------------------------------------------------ABOUT SECTION------------------------------------------------------ */

.grid-container {
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.8fr;
  grid-template-rows: 1fr;
  gap: 2rem 0rem;
  grid-template-areas: "Navbar About Profil-pic";
}

.About {
  grid-area: About;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 2fr 1fr;
  gap: 1rem 0px;
  grid-template-areas:
    "Title"
    "Description"
    "button_about";
  padding: 1rem;
}

.Title {
  grid-area: Title;
  display: flex;
  align-items: flex-end;
}

.Description {
  grid-area: Description;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-align: justify;
}

/* ------------------------------------------------------SOCIAL ICONS------------------------------------------------------ */

.button_about a {
  color: #fff;
}

.button_about a .fa-github-square:hover {
  color: #000;
  transition: all 0.3s ease-in 0s;
  transform: translate(0, -10%);
}

.button_about a .fa-linkedin:hover {
  color: #0e76a8;
  transition: all 0.3s ease-in 0s;
  transform: translate(0, -10%);
}
.button_about a .fa-facebook:hover {
  background: #2b4170;
  background: linear-gradient(120deg, #3b5998, #2b4170);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in 0s;
  transform: translate(0, -10%);
}
.button_about a .fa-instagram:hover {
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in 0s;
  transform: translate(0, -10%);
}

/* ------------------------------------------------------PROFIL PIC------------------------------------------------------ */

.Profil-pic {
  grid-area: Profil-pic;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1rem; */
}

.rounded-circle {
  box-shadow: 0 0 0px #282629;
}

#photo {
  cursor: pointer;
}

/* ------------------------------------------------------MEDIA QUERIES------------------------------------------------------ */

@media (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 1fr;
    gap: 0.2rem 1rem;
    grid-template-areas:
      "Navbar"
      "Profil-pic"
      "About";
  }
  img {
    height: 40vh;
  }
  .Navbar div {
    position: sticky;
    /* top: 0;
    z-index: 9999; */
  }
  .Navbar {
    flex-direction: row;
    justify-content: center;
  }
  nav ul li {
    margin-top: 0.5rem;
  }
  nav ul {
    flex-direction: row;
  }
}

@media (max-width: 425px) {
  nav ul li a {
    font-size: small;
  }
  .button_about {
    grid-area: button_about;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  .button1 {
    font-size: small;
  }

  .fa-facebook,
  .fa-github-square,
  .fa-linkedin {
  }
}

@media (max-width: 375px) {
  body {
    background: #203a43;
  }
}
