/* ABOUT */

.grid-container {
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.8fr;
  grid-template-rows: 1fr;
  gap: 2rem 0rem;
  grid-template-areas: "Navbar About Profil-pic";
}

.About {
  grid-area: About;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 2fr 1fr;
  gap: 1rem 0px;
  grid-template-areas:
    "Title"
    "Description"
    "button_about";
  padding: 1rem;
}

.Title {
  grid-area: Title;
  display: flex;
  align-items: flex-end;
}

.Description {
  grid-area: Description;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-align: justify;
}

.button_about {
  grid-area: button_about;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.button1 {
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  border: 1px solid white;
  margin-top: 1rem;
  padding: 1rem 1rem;
  border-radius: 3px;
  transition: all 0.3s ease-in 0s;
}
.button1:hover {
  background: white;
  color: #392d3b;
  text-decoration: none;
}

/* PHOTO */

.Profil-pic {
  grid-area: Profil-pic;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1rem; */
}

.rounded-circle {
  box-shadow: 0 0 0px #282629;
}

/*------------------
MEDIA QUERIES ++
-------------------- */

@media (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 1fr;
    gap: 0.2rem 1rem;
    grid-template-areas:
      "Navbar"
      "Profil-pic"
      "About";
  }
  img {
    height: 40vh;
  }
  .Navbar div {
    position: sticky;
    /* top: 0;
    z-index: 9999; */
  }
  .Navbar {
    flex-direction: row;
    justify-content: center;
  }
  nav ul li {
    margin-top: 0.5rem;
  }
  nav ul {
    flex-direction: row;
  }
}

@media (max-width: 425px) {
  nav ul li a {
    font-size: small;
  }
  .button_about {
    grid-area: button_about;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 375px) {
  body {
    background: #203a43;
  }
}
