/* GENERAL */
body {
  font-family: "Lato", sans-serif;
  background: linear-gradient(-0.25turn, #2c5364, #203a43, #0f2027, #090a0f);
}

.grid-container {
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #fff;
}
h1,
h2 {
  font-family: "audiowide", sans-serif;
  text-shadow: -1px -1px 1px #283655;
}

p {
  color: #fff;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.8fr;
  grid-template-rows: 1fr;
  gap: 2rem 0rem;
  grid-template-areas: "Navbar skillbar softskills";
}

/* NAVBAR */

.Navbar div {
  position: sticky;
  top: 20vh;
}

.Navbar {
  grid-area: Navbar;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
nav ul {
  display: flex;
  flex-direction: column;
}

nav ul li {
  margin-top: 2rem;
}

nav ul li a {
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  display: flex;
  padding: 0.2rem 0.7rem;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

nav ul li a:hover {
  background: white;
  color: #392d3b;
  text-decoration: none;
}

nav ul li a.active {
  background: white;
  color: #392d3b;
  text-decoration: none;
}

/* LEFT */
.skillbar {
  grid-area: skillbar;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr;
  gap: 1rem 0px;
  grid-template-areas:
    "TitleL"
    "DescriptionL";
  padding: 1rem;
}

.progress {
  width: 45vw;
}

/* PROGRESS BARS */
.bar-html {
  background-color: #ff8000;
  width: 80%;
}

.bar-css {
  background-color: #000;
  width: 80%;
}

.bar-js {
  background-color: #ff8000;
  width: 70%;
}

.TitleL {
  grid-area: TitleL;
  display: flex;
  align-items: flex-end;
}

.DescriptionL {
  grid-area: DescriptionL;
}

.progress {
  margin-bottom: 1rem;
}

/* RIGHT */
.softskills {
  grid-area: softskills;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr;
  gap: 1rem 0px;
  grid-template-areas:
    "TitleR"
    "DescriptionR";
  padding: 1rem;
}
.TitleR {
  grid-area: TitleR;
  display: flex;
  align-items: flex-end;
}

.DescriptionR {
  grid-area: DescriptionR;
}

/*------------------
MEDIA QUERIES ++
-------------------- */

@media (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 1fr;
    gap: 0.2rem 1rem;
    grid-template-areas:
      "Navbar"
      "skillbar"
      "softskills";
  }
  img {
    height: 40vh;
  }

  .Navbar {
    flex-direction: row;
  }
  nav ul li {
    margin-top: 0.5rem;
  }
  nav ul {
    /* flex-direction: row; */
  }
  .progress {
    width: 90vw;
  }
}

@media (max-width: 425px) {
  nav ul li a {
    font-size: small;
  }
}
