.grid-container {
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.8fr;
  grid-template-rows: 1fr;
  gap: 2rem 0rem;
  grid-template-areas: "Navbar skillbar softskills";
}

/* LEFT */
.skillbar {
  grid-area: skillbar;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr;
  gap: 1rem 0px;
  grid-template-areas:
    "TitleL"
    "DescriptionL";
  padding: 1rem;
}

.progress-bar {
  font-weight: bold;
  font-size: larger;
}

.progress {
  width: 45vw;
  margin-bottom: 2rem;
}
.progress:hover {
  transform: scale(1.1);
}

/* PROGRESS BARS */
.bar-html {
  background-color: #e34c26;
  width: 80%;
}

.bar-css {
  background-color: #264de4;
  width: 90%;
}

.bar-js {
  background-color: #f0db4f;
  width: 70%;
}
.bar-bootstrap {
  background-color: #563d7c;
  width: 80%;
}
.bar-php {
  background-color: #8993be;
  width: 75%;
}
.bar-mysql {
  background-color: #00758f;
  width: 90%;
}
.bar-symfony {
  background-color: #000;
  width: 20%;
}

.TitleL {
  grid-area: TitleL;
  display: flex;
  align-items: flex-end;
}

.DescriptionL {
  grid-area: DescriptionL;
}
h6 {
  text-align: center;
  font-family: "audiowide", sans-serif;
  text-shadow: -1px -1px 1px #283655;
}

/* RIGHT */
.softskills {
  grid-area: softskills;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr;
  gap: 1rem 0px;
  grid-template-areas:
    "TitleR"
    "DescriptionR";
  padding: 1rem;
}
.TitleR {
  grid-area: TitleR;
  display: flex;
  align-items: flex-end;
}

.DescriptionR {
  grid-area: DescriptionR;
}

.button_about a {
  color: #fff;
}

.button_about a .fa-steam:hover {
  color: #000;
  transition: all 0.3s ease-in 0s;
  transform: translate(0, -10%);
}
.button_about a .fa-battle-net:hover {
  color: #ace5ee;
  transition: all 0.3s ease-in 0s;
  transform: translate(0, -10%);
}
.button_about a .fa-discord:hover {
  color: #7289d9;
  transition: all 0.3s ease-in 0s;
  transform: translate(0, -10%);
}

/*------------------
MEDIA QUERIES ++
-------------------- */

@media (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 1fr;
    gap: 0.2rem 1rem;
    grid-template-areas:
      "Navbar"
      "skillbar"
      "softskills";
  }
  img {
    height: 40vh;
  }

  .Navbar div {
    position: sticky;
    /* top: 0;
    z-index: 9999; */
  }
  .Navbar {
    flex-direction: row;
    justify-content: center;
  }
  nav ul li {
    margin-top: 0.5rem;
  }
  nav ul {
    flex-direction: row;
  }
  .progress {
    width: 90vw;
  }
}

@media (max-width: 425px) {
  nav ul li a {
    font-size: small;
  }
  .button_about {
    grid-area: button_about;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 375px) {
  body {
    background: #203a43;
  }
}
